@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <p>Welcome to the <strong>Aircraft Data Application</strong>!</a>.</p>
    <hr />
    <div>
        Here you can navigate to <a class="nav-link text-dark" asp-area="" asp-controller="Aircraft" asp-action="Index" style="color: darkred">Aircrafts</a>
    </div>
</div>
